@page "/about"
@inject ILogger<About> Logger

<PageTitle>About</PageTitle>

<RadzenText TextStyle="TextStyle.H3">情報</RadzenText>
<hr />

<RadzenCard Style="width:100%;">
    <RadzenText TextStyle="TextStyle.H5">バージョン</RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        α版（0.0.0.2）
    </RadzenText>
    <hr />
    <RadzenText TextStyle="TextStyle.H5">更新歴</RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        <RadzenText TextStyle="TextStyle.H6">2023/11/19 α版（0.0.0.2）</RadzenText>
        パフォーマンス改善、ヘルプページ誤字修正、コメントビュワー(ノーマル形式)追加、情報ページ記載内容追加バージョン
        <RadzenText TextStyle="TextStyle.H6">2023/11/19 α版（0.0.0.1）</RadzenText>
        初版リリースバージョン
    </RadzenText>
    <hr />
    <RadzenText TextStyle="TextStyle.H5">技術情報</RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        <RadzenText TextStyle="TextStyle.H6">開発言語</RadzenText>
        C#
        <RadzenText TextStyle="TextStyle.H6">フレームワーク</RadzenText>
        <table>
            <tr>
                <th>共通部</th>
                <th>:</th>
                <td>
                    <ul>
                        <li>.NET6</li>
                        <li>Entity Framework 6</li>
                        <li>SignalR</li>
                        <li>AngleSharp.Js</li>
                        <li>NLog</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>WEB機能</th>
                <th>:</th>
                <td>
                    <ul>
                        <li>.NET6 with ASP.Net Core</li>
                        <li>Blazor Webassembly</li>
                        <li>Radzen</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <th>クライアントアプリ</th>
                <th>:</th>
                <td>
                    <ul>
                        <li>.NET6 with WinForm</li>
                        <li>WebView2</li>
                    </ul>
                </td>
            </tr>
        </table>
        <RadzenText TextStyle="TextStyle.H6">開発環境</RadzenText>
        Microsoft Visual Studio Community 2022
    </RadzenText>
    <hr />
    <RadzenText TextStyle="TextStyle.H5">関連リンク</RadzenText>
    <RadzenText TextStyle="TextStyle.Body1">
        <ul>
            <li>
                ホームページ(風流吉報):
                <a href="https://www.haku-kazamaru.club/" target="_blank" rel="noopener noreferrer">https://www.haku-kazamaru.club/</a>
            </li>
            <li>
                X(Twitter:個人):
                <a href="https://twitter.com/HakuKazamaru" target="_blank" rel="noopener noreferrer">https://twitter.com/HakuKazamaru</a>
            </li>
            <li>
                X(Twitter:同人サークル):
                <a href="https://twitter.com/Huryukippo_Haku" target="_blank" rel="noopener noreferrer">https://twitter.com/Huryukippo_Haku</a>
            </li>
            <li>
                YouTube:
                <a href="https://www.youtube.com/@@HakuKazamaru" target="_blank" rel="noopener noreferrer">https://www.youtube.com/@@HakuKazamaru</a>
            </li>
            <li>
                ニコニコ動画:
                <a href="https://www.nicovideo.jp/user/6811614" target="_blank" rel="noopener noreferrer">https://www.nicovideo.jp/user/6811614</a>
            </li>
            <li>
                Mastodon:
                <a href="https://mstdn.haku-kazamaru.club/@@haku_kazamaru" target="_blank" rel="noopener noreferrer">https://mstdn.haku-kazamaru.club/@@haku_kazamaru</a>
            </li>
            <li>
                misskey:
                <a href="https://misskey.haku-kazamaru.club/@@haku_kazamaru" target="_blank" rel="noopener noreferrer">https://misskey.haku-kazamaru.club/@@haku_kazamaru</a>
            </li>
            <li>
                GitHub:
                <a href="https://github.com/HakuKazamaru/Haku-s-Comment-Viewer" target="_blank" rel="noopener noreferrer">https://github.com/HakuKazamaru/Haku-s-Comment-Viewer</a>
            </li>
        </ul>
    </RadzenText>

</RadzenCard>

@code {

}
