@page "/"
@inject ILogger<Index> Logger

<PageTitle>コメントビュワー</PageTitle>

<RadzenSplitter Orientation="Orientation.Vertical" style="height: 100%; border: 1px solid rgba(0,0,0,.08);">
    <RadzenSplitterPane Size="25%" style="height: 100%;">
        <StreamManagement />
    </RadzenSplitterPane>
    <RadzenSplitterPane Size="75%" style="height: 100%;">
        <RadzenSplitter Orientation="Orientation.Horizontal" style="height: 100%; border: 1px solid rgba(0,0,0,.08);">
            <RadzenSplitterPane Size="50%" style="height: 100%;">
                <div class="rz-pt-2" style="height: 100%;">
                    <Comment />
                </div>
            </RadzenSplitterPane>
            <RadzenSplitterPane Size="50%" style="height: 100%;">
                <div class="rz-pt-2" style="height: 100%;">
                    <Gift />
                </div>
            </RadzenSplitterPane>
        </RadzenSplitter>
    </RadzenSplitterPane>
</RadzenSplitter>
